{{ register_asset_bundle('bizley/podium/client/assets/PodiumAsset') }}
{{ void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ Html.csrfMetaTags|raw }}
    <title>{{ Html.encode(this.title) }}</title>
    {{ void(this.head) }}
</head>
<body>
{{ void(this.beginBody()) }}

{% include '@layouts/nav.twig' %}

<div class="container">
    <div class="row">
        <div class="col-9">
            {{ breadcrumbs_widget({'links': this.params['breadcrumbs'] ?? []}) }}
            {{ use('bizley/podium/client/widgets/notify') }}
            {{ notify_widget() }}
            {{ content|raw }}
        </div>
        {% include 'admin-menu.twig' %}
    </div>

    {% include '@layouts/footer.twig' %}
</div>

{{ void(this.endBody()) }}
</body>
</html>
{{ void(this.endPage()) }}
