<div class="col-3">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action {{ this.context.action.id == 'members' ? 'active' }} d-flex justify-content-between align-items-center">
            {{ Yii.t('podium.admin.link', 'members') }}
            {{ FA('users') }}
        </a>
        <a href="{{ path(['categories/index']) }}" class="list-group-item list-group-item-action {{ this.context.action.id == 'categories' ? 'active' }} d-flex justify-content-between align-items-center">
            {{ Yii.t('podium.admin.link', 'categories') }}
            {{ FA('sitemap') }}
        </a>
        <a href="#" class="list-group-item list-group-item-action {{ this.context.action.id == 'forums' ? 'active' }} d-flex justify-content-between align-items-center">
            {{ Yii.t('podium.admin.link', 'forums') }}
            {{ FA('bullhorn') }}
        </a>
        <a href="#" class="list-group-item list-group-item-action {{ this.context.action.id == 'threads' ? 'active' }} d-flex justify-content-between align-items-center">
            {{ Yii.t('podium.admin.link', 'threads') }}
            {{ FA('list') }}
        </a>
        <a href="#" class="list-group-item list-group-item-action {{ this.context.action.id == 'posts' ? 'active' }} d-flex justify-content-between align-items-center">
            {{ Yii.t('podium.admin.link', 'posts') }}
            {{ FA('comments') }}
        </a>
        <a href="{{ path(['admin/settings']) }}" class="list-group-item list-group-item-action {{ this.context.action.id == 'settings' ? 'active' }} d-flex justify-content-between align-items-center">
            {{ Yii.t('podium.admin.link', 'settings') }}
            {{ FA('wrench') }}
        </a>
    </div>
</div>
