{{ use('yii/bootstrap/ActiveForm') }}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <h3 class="panel-title">
                        <i class="glyphicon glyphicon-chevron-right"></i> {{ model.getAttributeLabel(name) }}
                    </h3>
                </div>
                {% set form = active_form_begin({'layout': 'inline'}) %}
                {% if type == 'radio' %}
                    {{ form.field(model, name).radioList([
                        Yii.t('yii', 'No'),
                        Yii.t('yii', 'Yes'),
                    ])|raw }}
                    {{ Html.submitButton(Yii.t('podium.client.button', 'setting.save'), {'class': 'btn btn-default btn-xs'})|raw }}
                {% else %}
                    {{ form.field(model, name)|raw }}
                    {{ Html.submitButton(Yii.t('podium.client.button', 'setting.save'), {'class': 'btn btn-default'})|raw }}
                {% endif %}
                {{ active_form_end() }}
            </div>
        </div>
    </div>
</div>
