{{ use('bizley/podium/client/widgets/setting') }}
{{ set(this, 'title', Yii.t('podium.client.header', 'admin.settings')) }}
<h1>
    <i class="glyphicon glyphicon-cog"></i>
    {{ Yii.t('podium.client.header', 'admin.settings') }}
    <small>
        <i class="glyphicon glyphicon-menu-left"></i> <a href="{{ path(['admin/index']) }}">{{ Yii.t('podium.client.link', 'admin.dashboard') }}</a>
    </small>
</h1>
{% for setting, type in settings %}
    {{ setting_widget({
        'data': setting,
        'type': type,
    }) }}
{% endfor %}
