{{ use('bizley/podium/client/widgets/sortable') }}
{{ set(this, 'title', Yii.t('podium.admin.header', 'categories')) }}
<h1 class="mb-3">
    <a href="{{ path(['categories/create']) }}" class="btn btn-primary float-right">
        {{ FA('plus') }} {{ Yii.t('podium.admin.button', 'category.add') }}
    </a>
    {{ FA('sitemap') }} {{ Yii.t('podium.admin.header', 'categories') }}
</h1>

{{ sortable_begin({'action': ['categories/sort']}) }}
    {% for category in categories.models %}
        {{ include('category-item.twig') }}
    {% endfor %}
{{ sortable_end() }}
