<div class="col-3">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action {{ this.context.action.id == 'members' ? 'active' }} d-flex justify-content-between align-items-center">
            {{ Yii.t('podium.client.link', 'admin.members') }}
            {{ FA('users') }}
        </a>
        <a href="{{ path(['admin/categories']) }}" class="list-group-item list-group-item-action {{ this.context.action.id == 'categories' ? 'active' }} d-flex justify-content-between align-items-center">
            {{ Yii.t('podium.client.link', 'admin.categories') }}
            {{ FA('sitemap') }}
        </a>
        <a href="#" class="list-group-item list-group-item-action {{ this.context.action.id == 'forums' ? 'active' }} d-flex justify-content-between align-items-center">
            {{ Yii.t('podium.client.link', 'admin.forums') }}
            {{ FA('bullhorn') }}
        </a>
        <a href="#" class="list-group-item list-group-item-action {{ this.context.action.id == 'threads' ? 'active' }} d-flex justify-content-between align-items-center">
            {{ Yii.t('podium.client.link', 'admin.threads') }}
            {{ FA('list') }}
        </a>
        <a href="#" class="list-group-item list-group-item-action {{ this.context.action.id == 'posts' ? 'active' }} d-flex justify-content-between align-items-center">
            {{ Yii.t('podium.client.link', 'admin.posts') }}
            {{ FA('comments') }}
        </a>
        <a href="{{ path(['admin/settings']) }}" class="list-group-item list-group-item-action {{ this.context.action.id == 'settings' ? 'active' }} d-flex justify-content-between align-items-center">
            {{ Yii.t('podium.client.link', 'admin.settings') }}
            {{ FA('wrench') }}
        </a>
    </div>
</div>
