{{ register_asset_bundle('bizley/podium/client/assets/PodiumAsset') }}
{{ void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ Html.csrfMetaTags|raw }}
    <title>{{ Html.encode(this.title) }}</title>
    {{ void(this.head) }}
</head>
<body>
{{ void(this.beginBody()) }}

{% include 'nav.twig' %}

<div class="container">
    <div class="row">
        {{ content|raw }}
        {% include 'right-menu.twig' %}
    </div>

    {% include 'footer.twig' %}
</div>

{{ void(this.endBody()) }}
</body>
</html>
{{ void(this.endPage()) }}
